<div class="card-container">
  <mat-card>
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>{{ post.name }}</mat-card-title>
      <mat-card-subtitle
        >Postado por: {{ post.postedBy }} | Postado em
        {{ post.date | date : "dd/mm/yyyy HH:mm:ss" }}</mat-card-subtitle
      >
    </mat-card-header>

    <mat-card-content>
      <div class="card-content">
        <img [src]="post.img" class="post-img" alt="Card Image" />
        <p>
          {{
            post.content.length > 600 && !viewPost
              ? post.content.substr(0, 600) + "..."
              : post.content
          }}
        </p>
      </div>
    </mat-card-content>
  </mat-card>

  <div>
    <button (click)="onClickLikePost()" mat-raised-button color="primary">
      {{ post.likeCount }} <mat-icon>favorite</mat-icon>
    </button>
    <button mat-raised-button color="primary" style="margin-left: 10px">
      {{ post.viewCount }} <mat-icon>remove_red_eye</mat-icon>
    </button>

    @if(!viewPost) {
    <button
      mat-raised-button
      color="primary"
      style="margin-left: 10px"
      (click)="onCLickViewPost()"
    >
      Visualizar post
    </button>
    }
  </div>

  @if(viewPost) {
  <div class="comment-card">
    <h4>Faça um comentário:</h4>

    <mat-card style="padding: 20px">
      <form [formGroup]="formGroup">
        <mat-form-field appearance="fill">
          <mat-label>Conteúdo</mat-label>
          <textarea rows="5" matInput formControlName="content"></textarea>
        </mat-form-field>

        <mat-form-field appearance="fill">
          <mat-label>Postado por</mat-label>
          <input matInput type="text" formControlName="postedBy" />
        </mat-form-field>

        <button
          mat-raised-button
          color="primary"
          style="float: right"
          [disabled]="!formGroup.valid"
          (click)="publishComment()"
        >
          Publicar comentário
        </button>
      </form>
    </mat-card>

    <div style="margin-top: 10px">
      <h4>Comentários:</h4>

      @for (comment of comments; track $index) {
      <mat-card style="margin-top: 10px">
        <mat-card-header>
          <div mat-card-avatar class="example-header-image"></div>
          <mat-card-title>{{ comment.postedBy }}</mat-card-title>
          <mat-card-subtitle>{{
            comment.createdAt | date : "dd/mm/yyyy HH:mm:ss"
          }}</mat-card-subtitle>
        </mat-card-header>

        <mat-card-content>
          {{ comment.content }}
        </mat-card-content>
      </mat-card>
      }
    </div>
  </div>
  }
</div>
